.transactionHistory {
  width: 800px;
  margin: 60px auto;
  border-spacing: 2px;
}
.thead {
  height: 40px;
  background-color: #00dcd5;
  color: white;
  text-transform: uppercase;
}
.tableItem {
  height: 30px;
  background-color: #fff;
  text-align: center;
  color: rgba(0, 0, 0, 0.555);
}
.tableItem:nth-child(2n) {
  background-color: #ecf1f4;
}
